{% extends 'manager_app/base.html' %}

{% block content %}
    <h2>Welcome to your dashboard, {{ user.username }}</h2>
    <h3>Balance = Rs. {{ balance }}</h3>
    <a class="btn btn-default" href="{% url 'something_new' something='income' %}" class="top-menu">Add new income<span class="glyphicon glyphicon-plus"></span></a>
    <a class="btn btn-default" href="{% url 'something_new' something='savings' %}" class="top-menu">Add new savings<span class="glyphicon glyphicon-plus"></span></a>
    <a class="btn btn-default" href="{% url 'something_new' something='expenditure' %}" class="top-menu">Add new expenditure<span class="glyphicon glyphicon-plus"></span></a>
    <a class="btn btn-default" href="{% url 'something_new' something='org' %}" class="top-menu">Add new organisation<span class="glyphicon glyphicon-plus"></span></a>
    <br> <br>
    <a class="btn btn-default" href="{% url 'view_something' something='income' %}" class="top-menu">View my income<span class="glyphicon glyphicon-eye-open"></span></a>
    <a class="btn btn-default" href="{% url 'view_something' something='savings' %}" class="top-menu">View my savings<span class="glyphicon glyphicon-eye-open"></span></a>
    <a class="btn btn-default" href="{% url 'view_something' something='expenditure' %}" class="top-menu">View my expenditure<span class="glyphicon glyphicon-eye-open"></span></a> 
    <a class="btn btn-default" href="{% url 'clear_figures' %}" class="top-menu">Clear figures for the month and mail them to me<span class="glyphicon glyphicon-erase"></span></a>
    <h5><a href="{% url 'logout' %}">Logout</a></h3>
{% endblock %}