{% extends 'manager_app/base.html' %}

{% block content %}
    <h2>New {{ something }}</h2>
    <form method="POST" class="something-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <script type="text/javascript"> 
            $(function(){
              $("[id*='id_date']").datepicker();
              /*
                any id matching 'date' as substring can be selected; so works for 'date_received, date_spent, etc
                https://stackoverflow.com/questions/8126218/how-do-you-select-all-id-tags-that-contain-a-certain-string-in-javascript'
              */
            });
          </script>
    </form>
{% endblock %}